<!-- Section Quotes -->
<div class="section quotes" id="service-quotes">
    <div class="fw">
        <div class="q-titles align-center animated">
            <div class="subtitle">ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</div>
            <div class="title">are you ready to start your project now?</div>
            <div class="bts">
                <a href="#" class="btn"><i class="icon ion ion-android-create"></i>Get Quotes</a>
            </div>
        </div>
    </div>
</div>