<!-- Section Started -->

<div class="wrapper">
  <nav class="site-nav">
    <h1 class="logo">{{ site.first_name }} {{ site.last_name }}</h1>

    <div class="menu-toggle">
      <div class="hamburger"></div>
    </div>

    <ul class="open desktop">
      <li><a href="#start">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#works">Works</a></li>
      <li><a href="#clients">Clients</a></li>
      <li><a href="#contact">Contact me</a></li>
    </ul>
  </nav>
</div>

<div id="start" class="section started">
{%- if site.home_style == 'background-color' -%}
    <div class="slide" style="background-image: url({{ 'images/hero.jpg' | relative_url }});"></div>
{%- elsif site.home_style == 'particles-bg' -%}
<div id="particles-bg" class="slide" style="background-image: url({{ 'images/slide-bg-1.jpg' | relative_url }});"></div>
{%- elsif site.home_style == 'video-bg' -%}
<div id="video-bg" class="slide" data-property="{videoURL:'https://youtu.be/ClIBmBT9clU', containment:'#video-bg', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:true, quality:'default'}"></div>
{%- endif -%}
<div class="st-box align-center">
    <div class="st-title">Hi, I'm {{ site.first_name}} {{ site.last_name}} </div>
    <div class="st-subtitle"> {{ site.profession}}</div>
    <div class="st-soc">
        {%- for social in site.social_link -%}
        <a target="blank" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a>
        {%- endfor -%}
    </div>
</div>
</div>
