
<!-- jQuery Scripts -->
<script src="{{ 'js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.validate.js' | relative_url }}"></script>
<script src="{{ 'js/magnific-popup.js' | relative_url }}"></script>
<script src="{{ 'js/masonry.pkgd.js' | relative_url }}"></script>
<script src="{{ 'js/imagesloaded.pkgd.js' | relative_url }}"></script>
<script src="{{ 'js/scrollreveal.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.mb.YTPlayer.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.hover3d.js' | relative_url }}"></script>
<script src="{{ 'js/particles.js' | relative_url }}"></script>
<script src="{{ 'js/grained.js' | relative_url }}"></script>
<!-- <script src="{{ 'js/particles&#45;setting.js' | relative_url }}"></script> -->

<!-- Main Scripts -->
<script src="{{ 'js/main.js' | relative_url }}"></script>

{% include analytics.html %}
