<div class="colors_sel">
	<div class="tit">Select a color</div>
	<ul>
		<li><a href="../blue/index-particles.html"><span style="background:#304fff;"></span></a></li>
		<li><a href="../green/index-particles.html"><span style="background:#689f38;"></span></a></li>
		<li><a href="../yellow/index-particles.html"><span style="background:#ffe164;"></span></a></li>
		<li><a href="../pink/index-particles.html"><span style="background:#ff4181;"></span></a></li>
		<li><a href="../purple/index-particles.html"><span style="background:#9C27B0;"></span></a></li>
		<li><a href="../red/index-particles.html"><span style="background:#ed3b3b;"></span></a></li>
	</ul>
	<a href="#" class="btn_ic"><span class="ion ion-gear-b"></span></a>
</div>